.header__lang-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    margin: 0 9px;
    border-bottom: 2px solid #2a2c2f;
    color: #fff;
  }
  
  .header__lang-link:hover {
    opacity: .8;
  }
  
  
  @media (max-width:425px) {
    .header__lang-link {
    font-size: 18px;
    line-height: 133%;
    }
  }
  