.page {
    max-width: 1280px;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: content-box;
    margin: 0 auto;
    font-family: 'Inter', Arial , sans-serif;
    color: #fff;
  }

  @media (max-width: 1440px) {
    .page {
      width: 100%;
    }
  }
  