.intro__list {
    max-width: 690px;
    margin: 32px 0 92px 0;
    padding: 0;
    list-style: none;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro__list {
      margin: 32px 0 88px 24px;
    }
  }
  
  @media (max-width: 767px) {
    .intro__list {
      margin: 32px 0 64px 16px;
    }
  }
  