.footer__copyright {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
  }
  
  @media (max-width:760px) {
    .footer__copyright {
      margin: 48px 0 24px 0;
    }
  }
  