.intro__text {
    max-width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    margin: 40px 0 0;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
      max-width: 720px;
      margin: 40px 24px 0 24px;
    }
  }
  
  @media (max-width: 767px) {
    .intro__text {
      margin: 40px 16px 0 16px;
    }
  }
  