.lead__figure {
    margin: 64px 0 0;
  }

  @media (min-width: 500px) and (max-width: 1024px) {
    .lead__figure {
      margin: 56px 0 0;
    }
  }
  

@media (max-width: 320px) {
  .lead__figure {
    margin: 40px 0 0;
  }
}