@import url(./__links/footer__links.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  width: 92.5%;
  min-height: 64px;
  margin: 68px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:760px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
  }
}
