.card__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: auto 0 0;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .card__title {
      font-size: 42px;
      line-height: 110%;
    }
  }
  
  @media (max-width: 767px) {
    .card__title {
      font-size: 32px;
      line-height: 109%;
  
    }
  }

  @media (max-width: 320px) {
    .card__title {
      margin-left: 16px;
      align-self: start;
    }
  }
  